trigger: none
pool: fire

stages:
  - stage: 
    jobs:
      - job: 
        steps:
          - task: NodeTool@0
            inputs:
              versionSource: 'spec'
              versionSpec: '16.x'

          - task: PowerShell@2
            inputs:
              targetType: 'inline'
              script: 'npm install'

          - task: PowerShell@2
            inputs:
              targetType: 'inline'
              script: 'npm run build'

          - task: PublishPipelineArtifact@1
            inputs:
              targetPath: '$(System.DefaultWorkingDirectory)/build/'
              artifact: 'todoui'
              publishLocation: 'pipeline'

  - stage: 
    jobs:
    - deployment: devtovm
      environment:
        name: dev
        resourceName: himalay
        resourceType: virtualMachine
      strategy:
        runOnce:
          deploy:
            steps:
              - task: DownloadPipelineArtifact@2
                inputs:
                  buildType: 'current'
                  artifactName: 'todoui'
                  targetPath: '/home/tinu/code'
              - script: |
                  echo "Stopping nginx..."
                  sudo systemctl stop nginx

                  echo "Cleaning old files..."
                  sudo rm -rf /var/www/html/*

                  echo "Copying new files..."
                  sudo rsync -av /home/tinu/code/* /var/www/html/

                  echo "Fix ownership & permissions..."
                  sudo chown -R www-data:www-data /var/www/html
                  sudo find /var/www/html -type d -exec chmod 755 {} \;
                  sudo find /var/www/html -type f -exec chmod 644 {} \;

                  echo "Starting nginx..."
                  sudo systemctl start nginx
                displayName: 'Deploy to /var/www/html'
