trigger: none
pool: fire

stages:
  - stage: 
    jobs:
      - job: 
        steps:
          - task: NodeTool@0
            inputs:
              versionSource: 'spec'
              versionSpec: '16.x'

          - task: PowerShell@2
            inputs:
              targetType: 'inline'
              script: 'npm install'

          - task: PowerShell@2
            inputs:
              targetType: 'inline'
              script: 'npm run build'

          - task: DownloadPipelineArtifact@2
            inputs:
              buildType: 'current'
              targetPath: '$(Pipeline.Workspace)'