trigger: none
pool: fire

stages:
  - stage: 
    jobs:
      - job: 
        steps:
          - task: NodeTool@0
            inputs:
              versionSource: 'spec'
              versionSpec: '16.x'

          - task: PowerShell@2
            inputs:
              targetType: 'inline'
              script: 'npm install'

          - task: PowerShell@2
            inputs:
              targetType: 'inline'
              script: 'npm run build'

          - task: PublishPipelineArtifact@1
            inputs:
              targetPath: '$(System.DefaultWorkingDirectory)/build/'
              artifact: 'todoui'
              publishLocation: 'pipeline'

  - stage: 
    jobs:
    - deployment: devtovm
      environment:
        name: dev
        resourceName: user
        resourceType: virtualMachine
      strategy:
        runOnce:
          deploy:
            steps:
              - task: DownloadPipelineArtifact@2
                inputs:
                  buildType: 'current'
                  targetPath: '/var/www/html'