trigger: none
pool: fire

stages:
  - stage: 
    jobs:
      - job: 
        steps:
          - task: NodeTool@0
            inputs:
              versionSource: 'spec'
              versionSpec: '16.x'
              