trigger: none
pool: fire

stages:
  - stage: 
    jobs:
      - job: 
        steps:
          - task: NodeTool@0
            inputs:
              versionSource: 'spec'
              versionSpec: '16.x'

          - task: PowerShell@2
            inputs:
              targetType: 'inline'
              script: 'npm install'

          - task: PowerShell@2
            inputs:
              targetType: 'inline'
              script: 'npm run build'

          - task: PublishPipelineArtifact@1
            inputs:
              targetPath: '$(System.DefaultWorkingDirectory)/Build'
              publishLocation: 'pipeline'

  - stage: 
    jobs:
      - job: 
        steps:
          - task: DownloadPipelineArtifact@2
            inputs:
              buildType: 'current'
              artifactName: 'todoui'
              targetPath: '$(System.DefaultWorkingDirectory)/Build'

          - task: CopyFilesOverSSH@0
            inputs:
              sshEndpoint: 'ssh'
              sourceFolder: '(System.DefaultWorkingDirectory)/Build'
              contents: '**'
              targetFolder: '/home/username/'
              readyTimeout: '20000'

          - task: SSH@0
            inputs:
              sshEndpoint: 'ssh'
              runOptions: 'commands'
              commands: 'sudo cp -r /home/username/* /var/www/html'
              readyTimeout: '20000'